
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* GENERAL */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  background-color: #e5e5e5;
}

.app__container{
  max-width: 35rem;
  background-color: #ffffff;
  margin: 0 auto;
  color: #2b2b3a;
  font-size: 0.64rem;
}

/* HEADER COMPONENT */

header{
  height: 3.437rem;
  background-color: #f55a5a;
  color: #ffffff;
  margin-bottom: 1.80em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

header p {
  font-size: 0.903rem;
  font-weight: 500;
}


/* MAIN COMPONENT */

h1{
  font-size: 1.562rem;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}

.anchore{
  color: #918e9b;
  margin-left: 0.625em;
  cursor: pointer;
}

.anchore:hover {
  color: #2b2b3a;
}

.main__container{
  padding:1em 3.75em;


}

.section__container{
  padding-bottom: 1rem;
  border-bottom: 1px groove #f8f9fa;
  margin: 0 2.5em;
  
  display: flex;
  gap: 1.875rem;
  
   
}

.img{
  width: 125px;
  height: 168px;
}


.main__text{
  padding: 1em 0;
  font-weight: 400;
}

.date{
  font-weight: bold;
  margin-bottom: 0.625em;
}

.description {
  line-height:1.5 ;
}

.country{
  display: flex;
  align-items: center;
}

.mapin{
  width: 12px;
  fill: red;
}

.globe{
  width: 1.5rem;
  height: 1.5rem;
}

@media  (max-width: 500px) {

  .main__text{
    padding: 0;
    text-align: center;
  }
  .section__container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
  }

  h1{
    margin:0.45em 0 0.78rem 0;
  }

  .date{
    margin-top: 0;
  }

  .country{
    justify-content: center;
  }

  
}


